<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2 center">
        <h6>My Staff ID </td>
            <td><span sec:authentication="name">Username</span>
        </h6>            <h6>My Full Name </td>
            <td><span th:text=${fullName}></span>
        </h6>
        <h3> Edit Leave Types and Details for Job Grade </h3>
        <h6> You may modify the fields for the annual leave and medical leave 
            <br>entitlement for this specific job grade accordingly.</h6>
            <table border="1">
                <form th:object="${leave}" th:action="@{/adm/submitupdateleavetypes}" method="POST">
                <tr><td><label for="jobGrade"> Job Grade</label></td>
                    <td><input type="text" th:field="*{jobGrade}" readonly></td></tr>
                    <tr><td><label for="annualLeave"><b>Annual Leave (days)</b></label></td>
                        <td><input type="number" th:field="*{annualLeave}" /> 
                            <span class="alert alert-warning" th:if="${#fields.hasErrors('annualLeave')}"
                            th:errors="*{annualLeave}"></td><span>
                    </tr>
                    <tr><td><label for="medicalLeave"><b>Medical Leave (days)</b></label></td>
                        <td><input type="number" th:field="*{medicalLeave}" /> 
                            <span class="alert alert-warning" th:if="${#fields.hasErrors('medicalLeave')}"
                            th:errors="*{medicalLeave}"></td><span>
                    </tr>
                    <tr><td colspan="2"><br>
                        <input type="submit" value="Update Leave Type Details for Job Grade" /></td></tr>
                    </form>

            </table>  
</body>
<br>
<a th:href="@{/adm/manageleavetypes}">RETURN TO MANAGE LEAVE TYPES PAGE</a>
<br>
<a th:href="@{/admin}">RETURN TO ADMIN PAGE</a>
<br>
<a th:href="@{/welcome}">RETURN TO HOME PAGE</a>
<br>
<a th:href="@{/logout}">LOGOUT</a>
<br>
<br>
Now is: <b th:text="${execInfo.now.time}"></b></small> <br /> <small>(c) Leave Management System, NUS ISS</small>
</div>

</html>