<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/leaveApplication.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Leave Application Form</title>
</head>

<body>
    <h1 class="header1">Leave Application Form</h1>
    <div class="main-container">
        <div th:if="${leaveApplication.status == null}">
            <h3>General Leave Application Form</h3>
            Information on annual leave computation:
            <br>If the leave period is more than 14 calendar days, weekends/public holidays are included.
            Otherwise, weekends/public holidays are excluded.
            <br> If you would like to apply HALF DAY leave which is only applicable for compensation leave,
            <br> please click on this button <a th:href="@{/emp/compensationleaveonly}"><button
                    class="btn btn-primary btn-sm mb-1">Apply HALF DAY compensation leave</button></a>
            <br>
            Otherwise, for application of FULL DAY leave which is applicable to all three leave types
            <br>(i.e. Annual,Medical and Compensation Leave), please proceed with this form.
            <br>
        </div>
        <div th:unless="${leaveApplication.status== null}">
            <h3>Update Leave Application Form</h3>
        </div>
        <div class="form-item-container">
            <div class="label-container"><label>Staff ID</label></div>
            <div class="input-container"><span th:text="${#authentication.name}" ></span></div>
        </div>

        <table>
            <form th:action="${leaveApplication.status} == null ? @{/emp/leaveapplication} : @{/emp/updateleaveapplication(id=${leaveApplication.id})}" th:object="${leaveApplication}" method="POST">
                <div class="form-item-container">
                    <div class="label-container"><label>*Start Date (yyyy-mm-dd) </label></div>
                    <div class="input-container">
                        <input type="date" min="2023-01-01" max="2023-12-31" th:field="*{startDate}">
                    </div>
                </div>
                <div class="form-item-container">
                    <div class="label-container"></div>
                    <div class="input-container">
                        <span class="error-message" th:if="${#fields.hasErrors('startDate')}"
                            th:errors="*{startDate}"></span>
                    </div>
                </div>

                <div class="form-item-container">
                    <div class="label-container"><label>*End Date (yyyy-mm-dd)</label></div>
                    <div class="input-container">
                        <input type="date" min="2023-01-01" max="2023-12-31" th:field="*{endDate}">
                    </div>
                </div>
                <div class="form-item-container">
                    <div class="label-container"></div>
                    <div class="input-container">
                        <span class="error-message" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                    </div>
                </div>
                <div class="form-item-container">
                    <div class="label-container"><label>*Leave Type</label></div>
                    <div class="input-container">
                        <select th:field="*{leaveType}" style="text-align: center; font-size: 1.1rem;width: 40%;" >
                            <option value="">SELECT</option>
                            <option value="annual_leave">Annual Leave</option>
                            <option value="medical_leave">Medical Leave</option>
                            <option value="compensation_leave">Compensation Leave</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="form-item-container">
                        <div class="label-container"></div>
                        <div class="input-container">
                            <span class="error-message" th:if="${#fields.hasErrors('leaveType')}" th:errors="*{leaveType}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-item-container">
                    <div class="label-container"><label>Contact Number (if going overseas)</label></div>
                    <div class="input-container"><input type="text" th:field="*{contactNumber}"></div>
                </div>
                <div class="form-item-container">
                    <div class="label-container"><label>*Reason for taking leave</label></div>
                    <div class="input-container">
                        <textarea th:field="*{reason}"></textarea>
                    </div>
                </div>
                <div>
                    <div class="form-item-container">
                        <div class="label-container"></div>
                        <div class="input-container">
                            <span class="error-message" th:if="${#fields.hasErrors('reason')}"
                            th:errors="*{reason}">
                        </div>
                    </div>
                </div>
                <div class="form-item-container">
                    <div class="label-container"><label>Work Dissemination (if any) </label></div>
                    <div class="input-container">
                        <textarea th:field="*{dissemination}"></textarea>
                    </div>
                </div>

                <div colspan="2">
                    <br>
                    <span class="mandatory-m">Please note fields with * are mandatory details.</span>
                </div>
                <div class="form-item-container">
                    <div class="label-container"></div>
                    <div class="input-container">
                        <input type="submit" value="Submit" class="submit-btn">
                    </div>
                </div>
                
            </form>

        </table>
        <div class="footer-links">
            <div><a th:href="@{/emp/viewleave}">RETURN TO PERSONAL LEAVE HISTORY PAGE</a></div>
            <div><a th:href="@{/emp}">RETURN TO PERSONAL LEAVE OVERVIEW PAGE</a></div>
            <div><a th:href="@{/welcome}">RETURN TO HOME PAGE</a></div>
            <div><a th:href="@{/logout}">LOGOUT</a></div>
        </div> 

        Now is: <b th:text="${execInfo.now.time}"></b></small> <br /> <small>(c) Leave Management System, NUS ISS</small>
        </div>

    </div>


</body>

</html>