<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Staff Records Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2 center">
        <h6>My Staff ID </td>
            <td><span sec:authentication="name">Username</span>
        </h6>            <h6>My Full Name </td>
            <td><span th:text=${fullName}></span>
        </h6>
        <h3> Manage Staff Access Page </h3>
        <h6>The staff of this organisation are all listed here, sorted by their staff ID.<br>
            You may click update to edit their staff access rights to this Leave Management System portal.
        </h6>
    <table border="1">
        <tr>
            <th>Staff ID</th>
            <th>Full Name</th>
            <th>Designation</th>
            <th>Job Grade</th>
            <th>Edit Access</th>
        </tr>
        <tr th:each="staff: ${staffs}">
            <td th:utext="${staff.username}"></td>
            <td th:text="${staff.fullName}"></td>
            <td th:text="${staff.designation}"></td>
            <td th:text="${staff.jobGrade}"></td>
                    <td>
                        <form th:object="${staff}" th:action="@{/adm/updateaccess}" method="POST">
                            <input type="hidden" name="username" th:value="${staff.username}" />
                            <input type="hidden" name="fullName" th:value="${staff.fullName}" />
                            <input type="hidden" name="designation" th:value="${staff.designation}" />
                            <input type="hidden" name="reportingStaffID" th:value="${staff.reportingStaffID}" />
                            <input type="hidden" name="jobGrade" th:value="${staff.jobGrade}" />
                            <input type="hidden" name="email" th:value="${staff.email}" />
                            <input type="hidden" name="mobilePhone" th:value="${staff.mobilePhone}" />
                            <input type="hidden" name="password" th:value="${staff.password}" />
                            <input type="submit" value="Update">
                        </form>
                    </td>
                </tr> 
    </table>
    <br>
<a th:href="@{/admin}">RETURN TO ADMIN PAGE</a>
<br>
<a th:href="@{/welcome}">RETURN TO HOME PAGE</a>
<br>
<a th:href="@{/logout}">LOGOUT</a>
<br>
<br>
Now is: <b th:text="${execInfo.now.time}"></b></small> <br /> <small>(c) Leave Management System, NUS ISS</small>
    </div>
</body>
</html>