<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2 center">
        <h3 th:if="${action} == 'update'"> Staff updated </h3>
        <h3 th:if="${action} == 'delete'"> Staff deleted</h3>
        <h3 th:if="${action} == 'unsuccessful'"> Failed to delete staff</h3>
        <h3 th:if="${action} == 'updatehierarchy'"> Staff Approval Hierarchy updated </h3>
        <h6>My Staff ID </td>
            <td><span sec:authentication="name">Username</span>
        </h6>            <h6>My Full Name </td>
            <td><span th:text=${fullName}></span>
        </h6>
            <table border="1">
                <tr>
                    <td>Staff ID</td>
                    <td>Full Name</td>
                    <td>Designation</td>
                    <td>Job Grade</td>
                    <td>Mobile Phone Number</td>
                    <td>Email</td>
                    <td>Reporting Staff ID</td>
                </tr>
                <tr th:object="${staff}">
                    <td th:text="*{username}"></td>
                    <td th:text="*{fullName}"></td>
                    <td th:text="*{designation}"></td>
                    <td th:text="*{jobGrade}"></td>
                    <td th:text="*{mobilePhone}"></td>
                    <td th:text="*{Email}"></td>
                    <td th:text="*{reportingStaffID}"></td>
                </tr>
            </table>
            <p th:if="${action == 'unsuccessful'}" class="alert alert-warning">Deletion of this staff failed, as this staff still has allocated subordinates. <br> Please update the Staff approval hierarchy at the Manage Staff Approval Hierarchy Page first before attempting again. </p>
</body>
<br>
<a th:if="${action} == 'updatehierarchy'" th:href="@{/adm/managehierarchy}">RETURN TO MANAGE STAFF APPROVAL HIERARCHY PAGE</a>
<br>
<a th:href="@{/adm/managestaff}">RETURN TO MANAGE STAFF PAGE</a>
<br>
<a th:href="@{/admin}">RETURN TO ADMIN PAGE</a>
<br>
<a th:href="@{/welcome}">RETURN TO HOME PAGE</a>
<br>
<a th:href="@{/logout}">LOGOUT</a>
<br>
<br>
Now is: <b th:text="${execInfo.now.time}"></b></small> <br /> <small>(c) Leave Management System, NUS ISS</small>
</div>

</html>