<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application</title>

    <link th:href="@{/css/status.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2 center">
        <h6>My Staff ID </td>
            <td><span sec:authentication="name">Username</span>
        </h6>            <h6>My Full Name </td>
            <td><span th:text=${fullName}></span>
        </h6>
        <h3>Personal Leave History</h3>
        <!-- The leave applications are sorted based on leave application ID. You may view the details of each leave
        application by clicking on the respective link.
        <br>For pending leave, you may update or delete. For approved leave, you may cancel.
        <br>
        <br><u>Legend of leave application status:</u>
        <br><span class="PENDING">PENDING</span>: After applying or updating intended leave and days deducted from leave balance first
        <br><span class="APPROVED">APPROVED</span>: Intended leave actualised and you can go for your intended leave:)
        <br><span class="REJECTED">REJECTED</span>: Leave days returned back and you cannot go for your intended leave:(
        <br><span class="CANCELLED">CANCELLED</span>: Only applicable for approved leave. Leave days are returned back and you are not going on your approved leave.
        <br><span class="DELETED">DELETED</span>: Only applicable for pending leave. Leave days returned back and you cannot go for your intended leave.
        <br> -->
        <div class="row">
            <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                <label>From: </label>
                <input type="date" name="startDate" th:value="${startDate}"/>
                <label>&nbsp;&nbsp;To: </label>
                <input type="date" name="endDate" th:value="${endDate}"/>&nbsp;
                <select name="leaveType" th:value="${leaveType}"/>
                <option value="all" th:selected="${leaveType} == 'all'">All Leave Types</option>
                <option value="annual" th:selected="${leaveType} == 'annual'">Annual Leave</option>
                <option value="medical" th:selected="${leaveType} == 'medical'">Medical Leave</option>
                <option value="compensation" th:selected="${leaveType} == 'compensation'">Compensation Leave</option>
            </select>&nbsp;
            <input type="hidden" name="size" th:value="${size}" />
            <input type="hidden" name="page" th:value="${currentPage}" />
            <input type="submit" value="Search" />
            </form>
            <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                <input type="hidden" name="startDate" th:value="null"/>
                <input type="hidden" name="endDate" th:value="null"/>
                <input type="hidden" name="leaveType" th:value="all"/>
                <input type="hidden" name="size" th:value="${size}" />                    
                <input type="hidden" name="page" th:value="${currentPage}" />&nbsp;
                <input type="submit" value="Reset" />
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col my-100">
                    <div class="float-right">
                        <div class="row">
                          <span>Show: </span>
                          <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                              <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                              <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                              <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                              <input type="hidden" name="size" th:value="5" />
                           
                              <input type="hidden" name="page" th:value="${currentPage}" />
                              <input type="submit" class="linkbtn" value="5" />
                          </form> |
                          <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                              <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                              <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                              <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                              <input type="hidden" name="size" th:value="10" />
                             
                              <input type="hidden" name="page" th:value="${currentPage}" />
                              <input type="submit" class="linkbtn" value="10" />
                          </form> |
                          <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                              <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                              <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                              <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                              <input type="hidden" name="size" th:value="15" />
                              
                              <input type="hidden" name="page" th:value="${currentPage}" />
                              <input type="submit" class="linkbtn" value="15" />
                          </form>
                             
                           
                            <span> results</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- <p th:if="${leaveApplicationList == null}"><br><b> You have no leave records in the system thus far.</b></p>
        <br>
        <table border="1" th:unless="${leaveApplicationList == null}">
            <tr>
                <td>Leave Application
                    <br> ID
                </td>
                <td>Date of Application<br>(yyyy-mm-dd)</td>
                <td>Start Date <br> (yyyy-mm-dd)</td>
                <td>End Date <br> (yyyy-mm-dd)</td>
                <td>Time of the day <br> (if applicable)</td>
                <td>Leave Type</td>
                <td>Number Of <br>Days</td>
                <td>Status</td>
                <td>More Details</td>
            </tr>
            <tr th:each="leave: ${leaveApplicationList}">
                <td th:text="${leave.id}"></td>
                <td th:text="${leave.dateOfApplication}"></td>
                <td th:text="${leave.startDate}"></td>
                <td th:text="${leave.endDate}"></td>
                <td th:text="${leave.halfdayIndicator != null ? leave.halfdayIndicator : '-'}"></td>
                <td th:text="${leave.leaveType}"></td>
                <td th:text="${leave.numberOfDays}"></td>
                <td th:text="${leave.Status}" th:classappend = "${leave.Status}"></td>
                <td><a th:href="@{/emp/viewleavedetails(id=${leave.id})}" class="btn btn-primary btn-sm mb-3">Click
                        here</a></td>
            </tr>
        </table> -->
            <!-- <div th:if="${list.getTotalPages > 0}">  -->
                <div th:if="not ${#lists.isEmpty(list)}">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th><span>Leave Type</span></th>
                  <th><span>Start Date</span></th>
                  <th><span>End Date</span></th>
                  <th><span>AM/PM</span></th>
                  <th><span>Applied on</span></th>
                  <th><span>Status</span></th>
                  <th><span>Details</span></th>
                  <th><span>Update</span></th>
                  <th><span>Withdraw</span></th>
  
                </tr>
              </thead>
              <tr th:each="appli:${list}">
                <td th:text="${appli.leaveType}"></td>
                <td th:text="${appli.startDate}"> </td>
                <td th:text="${appli.endDate}"> </td>
                <td th:text="${appli.halfdayIndicator != null ? appli.halfdayIndicator : '-'}"></td>
                <td th:text="${appli.dateOfApplication}"> </td>
                <td th:text="${appli.status}"> </td>
                <td><a th:href="@{/emp/viewleave/details(id=${appli.id})}" class="btn btn-primary btn-sm mb-3"  rel="noopener noreferrer">View</a></td>
                <td>
                  <div
                    th:if="${#strings.equals(appli.status, 'PENDING')}">
                    <a th:href="@{/emp/updateleave(id=${appli.id})}"class="btn btn-primary btn-sm mb-3"  target="_blank" >Update</a>
                  </div>
                  <div
                    th:unless="${#strings.equals(appli.status, 'PENDING')}">
                    <button type="button" class="btn btn-primary btn-sm mb-3" disabled="disabled">Update</button>
                  </div>
                </td>
                <div class="Withdraw">
                <th>
                  <div th:if="${#strings.equals(appli.status,'PENDING')}">
                    <a th:href="@{/emp/deleteleave(id=${appli.id})}"  class="btn btn-primary btn-sm mb-3" title="Please note that once delete button is clicked, the leave application is deleted and this action is not reversible. ">Delete</a>
                        <!-- <br>Please note that once delete button is clicked,
                        <br> the leave application is deleted and this action is not reversible.         -->
                  </div>
                  <div
                        th:unless="${#strings.equals(appli.status, 'PENDING') or #strings.equals(appli.status,'APPROVED')}">
                        <button type="button" class="btn btn-primary btn-sm mb-3" disabled="disabled">Withdraw</button>
                      </div>
                </div>   
                <div
                th:if="${#strings.equals(appli.status,'APPROVED')}">
                
                <a th:href="@{/emp/deleteleave(id=${appli.id})}"  class="btn btn-primary btn-sm mb-3">Cancel</a>
              </div>
            </th>
              </tr>
            </table>  
            <table class="d-flex justify-content-center">
                <tr>
                    <td>
                        <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                           
                            <input type="hidden" name="page" th:value="1"/>
                            <input type="hidden" name="size" th:value="${size}">
                            <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                            <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                            <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                            <input th:if="${currentPage > 1} " class="p-0" type="submit" value="<<"/>
                            <input th:unless="${currentPage > 1} " class="p-0" type="submit" value="<<" disabled/>
                             </form>
                    </td>
                     <td>
                        <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                           
                            <input type="hidden" name="page" th:value="${currentPage - 1}"/>
                            <input type="hidden" name="size" th:value="${size}">
                            <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                            <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                            <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                            <input th:if="${currentPage > 1}" class="p-0" type="submit" value="<" />
                            <input th:unless="${currentPage > 1} " class="p-0" type="submit" value="<" disabled/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/emp/viewleave}" th:object="${emppage}" name="pageform" onsubmit="return validateForm()" method="POST">
                            
                            <input type="hidden" name="size" th:value="${size}">
                            <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                            <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                            <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                            <input class="pageinput" type="number" name="page" th:value="${currentPage}" th:min="1" th:max="${list.getTotalPages}"/>
                           
                            <input type="submit" hidden/>
                        </form>
                    </td>
                     <td>
                        <span th:text="'/ '+ ${list.getTotalPages}"></span>
                    </td> 
                    <td>
                      <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                         
                          <input  type="hidden" name="page" th:value="${currentPage + 1}"/>
  
                          <input type="hidden" name="size" th:value="${size}">
                          <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                          <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                          <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                          <input th:if="(${currentPage < list.getTotalPages}) or (${list.getTotalPages > 1})" class="p-0" type="submit" value=">" />
                          <input th:if="(${currentPage >=list.getTotalPages}) or (${list.getTotalPages == 1})" class="p-0" type="submit" value=">" disabled/>
                      </form>
                    </td>
                    <td>
                      <form th:action="@{/emp/viewleave}" th:object="${emppage}" method="POST">
                      
                          <input type="hidden" name="page" th:value="${list.getTotalPages}"/>
                          <input type="hidden" name="size" th:value="${size}">
                          <input type="hidden" name="startDate" th:value="${startDate != null ? startDate : null}">
                          <input type="hidden" name="endDate" th:value="${endDate != null ? endDate : null}">
                          <input type="hidden" name="leaveType" th:value="${leaveType != null ? leaveType : null}">
                          <input th:if="(${currentPage < list.getTotalPages}) or (${list.getTotalPages > 1})" class="p-0" type="submit" value=">>" />
                          <input th:if="(${currentPage >= list.getTotalPages}) or (${list.getTotalPages == 1})" class="p-0" type="submit" value=">>" disabled/>
                      </form>
                  </td>
                </tr>
              </table> 
          </div>  
          <div th:if="${#lists.isEmpty(list)}">
            <b><p class="d-flex justify-content-center">No leave records found.</p></b>
        </div>
        <br>
                <a th:href="@{/emp/leaveapplication}" class="btn btn-primary btn-sm mb-3">NEW LEAVE APPLICATION</a>
                <br>
                <a th:href="@{/emp}">RETURN TO LEAVE OVERVIEW PAGE</a>
                <br>
                <a th:href="@{/welcome}" >RETURN TO HOME PAGE</a>
                <br>
                <a th:href="@{/logout}">LOGOUT</a>
              
        <br>Now is: <b th:text="${execInfo.now.time}"></b></small> <br /> <small>(c) Leave Management System, NUS
            ISS</small>
    </div>

</body>
</div>

</html>